
@{
    ViewData["Title"] = "Index";
}

<h1>All Football Teams, All Favourite Teams, All Matches</h1>


<a class="btn btn-primary" asp-controller="Team" asp-action="ShowFavouriteMatches">Show Favourite Matches currently of a given user</a>

<a class="btn btn-primary" asp-controller="Team" asp-action="ShowAllFootballTeams">Show All Football Teams</a>

<a class="btn btn-primary" asp-controller="Team" asp-action="ShowAllMatchQueues">Show All Match Queues</a>